<div id="Seccion-Edit" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" *ngIf="softSkill">
    <form id="form-Seccion-Edit" ngNativeValidate>
        <h3>Editar Soft Skill:</h3>
        <p>Escribe sobre el/los atributo/s que deseas cambiar - Los atributos que no se editen quedaran como estan</p>
        <div class="div-p-input">
            <p>Porcentaje :</p>
            <input type="number" #porcentaje value={{softSkill.porcentaje}} placeholder="ingresar Porcentaje">
        </div>
        <div class="div-p-input">
            <p>Titulo :</p>
            <input type="text" #titulo value={{softSkill.titulo}} placeholder="ingresar titulo">
        </div>
        <div class="div-p-input">
            <p>FontSize :</p>
            <input type="number"#fontSize value={{softSkill.fontSize}} placeholder="ingresar font size">
        </div>
        <div class="container-a-btn">
            <div>
                <a mat-dialog-close>Volver</a>
            </div>
            <button type="button" (click)="actualizar_soft_skill(porcentaje.value,titulo.value,fontSize.value)">
            Guardar Soft Skill
            </button>
        </div>
    </form>
</div>