<div id="Seccion-Proyectos">

    <h3 class="titulo-de-seccion">Personal Projects:</h3>

    <div *ngIf="!isLoad">
        <app-main-preload></app-main-preload>
    </div>

    <div *ngIf="isLoad">

        <div class="tagForLogIn btn-container" *ngIf="isLogged">
            <button class="btn-edit" mat-icon-button (click)="addProyecto()">
                <mat-icon>add</mat-icon>
            </button>
            <button class="btn-edit" mat-icon-button (click)="editOrdenProyectos()">
                <mat-icon>edit orden</mat-icon>
            </button>
        </div>

        <br>
        <div id="list-Proyectos">
            <div class="card" *ngFor="let proyecto of proyectos">
                <div class="container-fluid">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let Urlfoto of proyecto.urlFotos">
                            <div class="wrapper">
                                <img src={{Urlfoto}} alt={{proyecto.titulo}}>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{proyecto.titulo}}</h5>
                    <div class="descripcion">
                        <p class="card-text">{{proyecto.descripcion}}</p>
                    </div>

                    <a target="_blanck"  *ngIf=" proyecto.urlGitHub!='' " href={{proyecto.urlGitHub}}>GitHub del Proyecto</a>
                    <a target="_blanck" *ngIf=" proyecto.urlAppWeb!='' " href={{proyecto.urlAppWeb}}>Probar App Web</a>
                </div>

                <div class="tagForLogIn btn-container" *ngIf="isLogged">
                    <button mat-icon-button class="btn-edit" (click)="editProyecto(proyecto.idProyecto)">
                        <mat-icon color="red">edit</mat-icon>
                    </button>

                    <button mat-icon-button class="btn-drop" (click)="dropProyecto(proyecto.idProyecto)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>