#Seccion-Proyectos {
    color: white;
    line-height: 1.8em;
    
    background-image: linear-gradient(black,#2596be);

    border-top: 1px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
}

#list-Proyectos {
    text-align: center;
    list-style: none;
}

.container-fotos-proyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

#list-Proyectos div img {
    margin-top: 2em;
    width: 25em;
    height: 42em;
}

#Seccion-Proyectos a {
    color: #cf08c5;
    Text-decoration: none;
}

#Seccion-Proyectos a:visited {
    color: #cf08c5;
}

@media only screen and (max-width: 680px) {
    #list-Proyectos div img {
        display: none;
    }
    
}

