<div id="Seccion-Proyectos">

    <h3 class="titulo-de-seccion-Blanco">Personal Projects:</h3>

    <div class="tagForLogIn" class="btn-container">
        <button class="btn-edit" mat-icon-button (click)="addProyecto()">
            <mat-icon>add</mat-icon>
        </button>
      </div>
      
    <br>
    <div id="list-Proyectos">
        <div class="card" *ngFor="let proyecto of proyectos">
            <div class="container-fluid">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let Urlfoto of proyecto.urlFotos">
                        <div class="wrapper">
                            <img src={{Urlfoto}}>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{proyecto.titulo}}</h5>
                <div class="descripcion">
                    <p class="card-text" >{{proyecto.descripcion}}</p>
                </div>

                <a target="_blanck" href={{proyecto.urlGitHub}}>GitHub del Proyecto</a>
                <a target="_blanck" *ngIf=" proyecto.urlAppWeb!='' " href={{proyecto.urlAppWeb}}>|| Probar App Web</a>
                <!--
                <a target="_blanck" href="https://github.com/GaspyGJ/OrganizadorCompras_Angular">GitHub del Proyecto
                </a>
                <a target="_blanck" href="https://comprassupermarket.000webhostapp.com/">|| Probar App Web</a>
                -->
            </div>

            <div class="tagForLogIn" class="btn-container">
                <button mat-icon-button class="btn-edit" (click)="editProyecto(proyecto.idProyecto)">
                    <mat-icon color="red">edit</mat-icon>
                </button>

                <button mat-icon-button class="btn-drop" (click)="dropProyecto(proyecto.idProyecto)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>

    </div>