<div id="Seccion-Proyectos">

    <h3 class="titulo-de-seccion-Blanco">Personal Projects:</h3>
    <br>
    <!--
      <ul id="list-Proyectos">
        <li>

            <div class="container-fotos-proyectos">
                <div><img src="../../../../assets/imagenes/Proyectos/Compras1.png"></div>
                <div><img src="../../../../assets/imagenes/Proyectos/Compras2.png"></div>
            </div>
            <h5>App Web para gestionar lista de compras del SuperMercado</h5>
            <p>Programacion Web Con <span>Angular</span></p>
            <p></p>
            <p>Ir al GitHub del Proyecto <a target="_blanck"
                    href="https://github.com/GaspyGJ/OrganizadorCompras_Angular">CLICK AQUI</a></p>
            <p>Probar App Web <a target="_blanck" href="https://comprassupermarket.000webhostapp.com/">CLICK
                    AQUI</a></p>

        </li>

    </ul>
-->
    <div id="list-Proyectos">
        <div class="card">
            <div class="container-fotos-proyectos">
                <img src="../../../../assets/imagenes/Proyectos/Compras1.png">
                <img src="../../../../assets/imagenes/Proyectos/Compras2.png">
            </div>
            <div class="card-body">
                <h5 class="card-title">Compras-Super</h5>
                <p class="card-text">App Web para gestionar lista de compras del SuperMercado</p>
                <a target="_blanck" href="https://github.com/GaspyGJ/OrganizadorCompras_Angular">GitHub del Proyecto </a>
                <a target="_blanck" href="https://comprassupermarket.000webhostapp.com/">||  Probar App Web</a>
            </div>

            <div class="tagForLogIn" class="btn-container">
                <button class="btn-edit">Edit</button>
                <button class="btn-edit">Drop</button>
            </div>

        </div>
        <div class="card">
            <div class="container-fotos-proyectos">
                <img src="../../../../assets/imagenes/Proyectos/Compras1.png">
                <img src="../../../../assets/imagenes/Proyectos/Compras2.png">
            </div>
            <div class="card-body">
                <h5 class="card-title">Compras-Super</h5>
                <p class="card-text">App Web para gestionar lista de compras del SuperMercado</p>
                <a target="_blanck" href="https://github.com/GaspyGJ/OrganizadorCompras_Angular">GitHub del Proyecto </a>
                 
                <a target="_blanck" href="https://comprassupermarket.000webhostapp.com/">||  Probar App Web</a>
            </div>

            <div class="tagForLogIn" class="btn-container">
                <button class="btn-edit">Edit</button>
                <button class="btn-edit">Drop</button>
            </div>

        </div>

        <div class="card">
            <div class="container-fotos-proyectos">
                <img src="../../../../assets/imagenes/Proyectos/Compras1.png">
                <img src="../../../../assets/imagenes/Proyectos/Compras2.png">
            </div>
            <div class="card-body">
                <h5 class="card-title">Compras-Super</h5>
                <p class="card-text">App Web para gestionar lista de compras del SuperMercado</p>
                <a target="_blanck" href="https://github.com/GaspyGJ/OrganizadorCompras_Angular">GitHub del Proyecto </a>
                <a target="_blanck" href="https://comprassupermarket.000webhostapp.com/">||  Probar App Web</a>
            </div>

            <div class="tagForLogIn" class="btn-container">
                <button class="btn-edit">Edit</button>
                <button class="btn-edit">Drop</button>
            </div>
        
        </div>

    </div>
</div>