<div id="Seccion-Contacto" (submit)="onSubmit(email.value,body.value,subject.value)">
    <form id="form-Seccion-Contacto" ngNativeValidate>
        <h3 class="titulo-de-seccion-Negro">Contact me:</h3>
        <input #email id="email" type="email" name="email" placeholder="Enter your e-mail" required/>
        <input #subject id="subject" type="text" name="subject" placeholder="Enter subject" required/>
        <textarea #body id="text-area" placeholder="Type e-mail" name="contenido" rows="10" style="resize: none;" required></textarea>
        <input id="submit" type="submit" value="Send e-mail"> 
    </form>
</div>
