#Seccion-Contacto {
    margin-bottom: 10em;
}

#Seccion-Contacto h3 {
    background-color: transparent;
}

#form-Seccion-Contacto {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 8px;
    gap: 0.5em;
    width: 40%;
    margin: 0 auto;
    /*para centrarlo*/

    box-shadow: 2px 2px 20px #face30;
    border-radius: 10px;
}

#form-Seccion-Contacto #email{
    height: 2em;
}

#form-Seccion-Contacto * {
    background-color: rgb(235, 225, 225);
    padding: 0.4em;
    border: none;
}

.swal-button {
    background-color: #4962B3;
    }

@media only screen and (max-width: 600px) {
    #Seccion-Contacto {
        margin-bottom: 5em;
    }
    #form-Seccion-Contacto {
        width: 90%;
    }
}