<div id="Seccion-Edit" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">
    <form id="form-Seccion-Edit" ngNativeValidate>
        <h3>Editar Educacion:</h3>
        <p>Escribe sobre el/los atributo/s que deseas cambiar - Los atributos que no se editen quedaran como estan</p>
        <div class="div-p-input">
            <p>Titulo :</p>
            <input type="text" #titulo value={{educacion.titulo}} placeholder="ingresar Titulo">
        </div>
        <div class="div-p-input">
            <p>Descripcion :</p>
            <input type="text" #descripcion value={{educacion.descripcion}} placeholder="ingresar descripcion">
        </div>
        <div class="div-p-input">
            <p>Año de Ingreso :</p>
            <select #anioStart id="years"  class="input-select-items">
                <option [selected]="educacion.anioStart==year? true:false"  *ngFor="let year of yearsList" value={{year}}>{{year}}</option>
            </select>
        </div>
        <div class="div-p-input">
            <p>Año de Egreso :</p>
            <select #anioEnd id="years" class="input-select-items">
                <option [selected]="educacion.anioEnd==year? true:false"  *ngFor="let year of yearsList" value={{year}}>{{year}}</option>
            </select>
        </div>
        <div class="div-p-input">
            <p>Estado Actual :</p>
            <input type="text" #estadoActual value={{educacion.estadoActual}} placeholder="ingresar estado actual">
        </div>
        <div class="container-a-btn">
            <div>
                <a mat-dialog-close>Volver</a>
            </div>
            <button type="button"
                (click)="actualizar_Educacion(titulo.value,descripcion.value,anioStart.value,anioEnd.value,estadoActual.value)">
                Guardar Educacion</button>
        </div>
    </form>
</div>