footer p{
    padding-bottom: 4em;
    font-size: 0.8em;
    color: white;
    text-align: center;
    /* background-color: #2596be; */
}
ul {
    position:fixed;
    bottom: -1em;
    height: 6vh;
    background-color: black;
    border-top: 1px solid white;
    width: 100%;
    padding-left: 0 ;
    animation-name: color-blanco-rosa;
    animation-duration: 6s;
}
.RedesSociales {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.RedesSociales li {
    color: #2596be;

}

.RedesSociales a {
    color: #2596be;
}

