footer p{
    padding-bottom: 4em;
    font-size: 0.8em;
    color: white;
    text-align: center;
}
ul {
    position:fixed;
    bottom: -1em;
    padding-top: 6px;
    border-top: 1px solid white;
    width: 100%;
    background-color: black;
    animation-name: color-blanco-rosa;
    animation-duration: 6s;
}
.RedesSociales {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.RedesSociales li {
    color: #2596be;

}

.RedesSociales a {
    color: #2596be;
}

h3 {
    font-size: 1.4em;
    color: #2596be;
    margin : 0;
}