<div id="Seccion-Educacion">
  <h3 class="titulo-de-seccion-Blanco"> Education:</h3>

  <!--lista usando bootstrap-->
  <div class="list-group">
    <div href="#" class="list-group-item">
      <hr>
      <h5>Titulo Secundario</h5>
      <p>Bachiller en Ciencias Sociales</p>
      <small>Terminado 2018</small>

      <div class="tagForLogIn" class="btn-container">
        <button class="btn-edit">Edit</button>
        <button class="btn-edit">Drop</button>
      </div>
      <hr>
    </div>
    <div href="#" class="list-group-item">
      <h5>Titulo Universitario</h5>
      <p>Estudiante Ingenieria en Sistemas de Informacion (UTN)</p>
      <small>2018 - Actualidad (3er año)</small>

      <div class="tagForLogIn" class="btn-container">
        <button class="btn-edit">Edit</button>
        <button class="btn-edit">Drop</button>
      </div>
      <hr>
    </div>
    
    <div href="#" class="list-group-item">
      <h5>Curso Argentina Programa</h5>
      <p>Se Programar , Yo Programo</p>
      <small>2021- actualidad</small>

      <div class="tagForLogIn" class="btn-container">
        <button class="btn-edit">Edit</button>
        <button class="btn-edit">Drop</button>
      </div>
      <hr>
    </div>
  </div>

</div>