<div id="Seccion-Educacion">
  <h3 class="titulo-de-seccion-Blanco"> Education:</h3>
  <div class="tagForLogIn" class="btn-container">
    <button class="btn-edit" mat-icon-button (click)="addEducacion()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <!--lista usando bootstrap-->
  <div class="list-group">
    <div *ngFor=" let educacion of educaciones" id={{educacion.idEducacion}} class="list-group-item">
      <hr>
      <h5>{{educacion.titulo}}</h5>
      <p>{{educacion.descripcion}}</p>
      <small>{{educacion.anioStart}} - {{educacion.anioEnd}}</small>
      <br>
      <small>{{educacion.estadoActual}}</small>

      <div class="tagForLogIn" class="btn-container">
        <button mat-icon-button class="btn-edit" (click)="editEducacion(educacion.idEducacion)">
          <mat-icon color="red">edit</mat-icon>
        </button>

        <button mat-icon-button class="btn-drop" (click)="dropEducacion(educacion.idEducacion)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </div>