<header>
    <nav>
        <div id="menu-sandwich" data-aos="fade-down">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-list" viewBox="0 0 14 14">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div>
        <ul class="ul-menu" id="ul-menu">
           
            <li id="menu-logo"><img src="../../../assets/imagenes/Logo-ArgPrograma.png" class="logo" alt="Gaspar Jullier logo"></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </nav>
</header>
