<div id="after-load">
    <div id="foto-perfil-about-me" *ngFor="let persona of personas">
        <div id="Foto-Perfil">

            <!--<img src="../../../../assets/imagenes/RATA.png">-->
            <img src={{persona.urlFoto}}>

        </div>
        <div id="about-me">
            <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
            <h3 id="puesto">> {{persona.nombrePuesto}}</h3>
            <p id="p-3">> Me gusta la programacion y el disenio de aplicaciones frontend y backend.</p>
            <p>> {{persona.descripcion}}</p>
            <p>> {{persona.domicilio}}</p>
            <p>> {{persona.edad}} años</p>
            <button *ngIf="isLogged" class="tagForLogIn" class="btn-edit" mat-icon-button (click)="editAboutMe()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
</div>

<div id="preloadAboutMe">
    <app-about-me-preload></app-about-me-preload>
</div>