/*********** MAIN-BANNER *****************/

#foto-perfil-about-me{
    padding-bottom: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black,#2596be);
    gap:10px;
}

#Foto-Perfil img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#about-me p{
    font-weight: bold;
    color:white;
}
#about-me h3{
    font-size: 2em;
    color:white;
}

/************************* With LogIn *****************************************/

.btn-edit{
    border: 1px solid rgb(0, 0, 0);

    background-color: rgb(36, 170, 36);
}