<div id="foto-perfil-about-me" *ngFor="let persona of personas">
    <div id="Foto-Perfil">
        
        <!--<img src="../../../../assets/imagenes/RATA.png">-->
        <img src={{persona.urlFoto}}>

        <!-- <button class="tagForLogIn" class="btn-edit" id="btn-edit-foto">Edit</button> -->

    </div>
    <div id="about-me" >
        
        <h3>{{persona.nombre}} {{persona.apellido}}</h3>
        <h3>{{persona.nombrePuesto}}</h3>
        <p>{{persona.descripcion}}</p>
        <p>{{persona.domicilio}}</p>
        <p>{{persona.edad}} años</p>
        <button  class="tagForLogIn" class="btn-edit" mat-icon-button (click)="editAboutMe()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>