<div id="foto-perfil-about-me">
    <div id="Foto-Perfil">
        <img src="../../../../assets/imagenes/RATA.png">
        <button class="tagForLogIn" class="btn-edit" id="btn-edit-foto">Edit</button>
    </div>
    <div id="about-me">
        
        <h3>Gaspar Jullier</h3>
        <h3>Programador Full Stack Jr</h3>
        <p>Estudiante de Ing.Sistemas UTN FRSF</p>
        <p>Argentina - Santa Fe - Santo Tome</p>
        <p>21 años</p>
        <button class="tagForLogIn" class="btn-edit">Edit</button>

    </div>
</div>