<div id="Seccion-Habilidades">

    <h3 class="titulo-de-seccion-Negro">Hard Skills:</h3>

    <ul id="list-hard-skills">
        <li>
            <circle-progress [percent]="85" [radius]="60" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [imageSrc]="'../../../../assets/imagenes/Skills/c++.png'" [imageHeight]=90 [imageWidth]=90
                [showImage]="true"></circle-progress>
                <p>85%</p>
        </li>
        <li>
            <circle-progress [percent]="80" [radius]="60" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [imageSrc]="'../../../../assets/imagenes/Skills/html.png'" [imageHeight]=80 [imageWidth]=80
                [showImage]="true"></circle-progress>
                <p>80%</p>
        <li>
            <circle-progress [percent]="80" [radius]="60" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [imageSrc]="'../../../../assets/imagenes/Skills/css.png'" [imageHeight]=80 [imageWidth]=80
                [showImage]="true"></circle-progress>
                <p>80%</p>
        </li>

        <li>
            <circle-progress [percent]="80" [radius]="60" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [imageSrc]="'../../../../assets/imagenes/Skills/js.png'" [imageHeight]=75 [imageWidth]=75
                [showImage]="true"></circle-progress>
                <p>80%</p>
        </li>

        <li>
            <circle-progress [percent]="70" [radius]="60" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [imageSrc]="'../../../../assets/imagenes/Skills/angular.png'" [imageHeight]=90 [imageWidth]=90
                [showImage]="true"></circle-progress>
                <p>70%</p>
        </li>

        <li>
            <circle-progress [percent]="90" [radius]="60" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [imageSrc]="'../../../../assets/imagenes/Skills/sql.png'" [imageHeight]=80 [imageWidth]=80
                [showImage]="true"></circle-progress>
                <p>90%</p>
        </li>

        <li>
            <circle-progress [percent]="75" [radius]="60" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [imageSrc]="'../../../../assets/imagenes/Skills/git.png'" [imageHeight]=80 [imageWidth]=80
                [showImage]="true"></circle-progress>
                <p>60%</p>
        </li>

    </ul>
    <br><br>
    <h3 class="titulo-de-seccion-Blanco">Soft Skills:</h3>
    
    <ul id="list-soft-skills">
        <li>
            <circle-progress [percent]="100" [radius]="70" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [title]="'Responsabilidad'" [showTitle]="true" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'15'" [titleColor]="'#FFFFFF'">
        
            </circle-progress>
                <p>100%</p>
        </li>
        <li>
            <circle-progress [percent]="80" [radius]="70" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [title]="'Trabajo en equipo'" [showTitle]="true" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'15'" [titleColor]="'#FFFFFF'">
        
            </circle-progress>
                <p>80%</p>
        </li>
        <li>
            <circle-progress [percent]="95" [radius]="70" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [title]="'Pensamiento Critico'" [showTitle]="true" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'14'" [titleColor]="'#FFFFFF'">
        
            </circle-progress>
                <p>95%</p>
        </li>

        <li>
            <circle-progress [percent]="80" [radius]="70" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [title]="'Creatividad'" [showTitle]="true" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'15'" [titleColor]="'#FFFFFF'">
        
            </circle-progress>
                <p>80%</p>
        </li>

        <li>
            <circle-progress [percent]="50" [radius]="70" [innerStrokeWidth]="0" [outerStrokeWidth]="5"
                [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                [title]="'Ingles'" [showTitle]="true" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'15'" [titleColor]="'#FFFFFF'">
        
            </circle-progress>
                <p>50%</p>
        </li>

    </ul>


</div>