<div id="Seccion-Habilidades">

    <h3 class="titulo-de-seccion">Conocimientos en:</h3>
    <br>
    <ul id="list-skills">
        <li><img src="../../../../assets/imagenes/Skills/c++.png"></li>
        <li><img src="../../../../assets/imagenes/Skills/html.png"></li>
        <li><img src="../../../../assets/imagenes/Skills/css.png"></li>
        <li><img src="../../../../assets/imagenes/Skills/js.png"></li>
        <li><img src="../../../../assets/imagenes/Skills/angular.png"></li>
        <li><img src="../../../../assets/imagenes/Skills/sql.png"></li>
        <li><img src="../../../../assets/imagenes/Skills/git.png"></li>
    </ul>


</div>