<div id="Seccion-Habilidades">

    <h3 class="titulo-de-seccion">Hard Skills:</h3>

    <div id="after-load">

        <div class="tagForLogIn btn-container" *ngIf="isLogged">
            <button class="btn-edit" mat-icon-button (click)="addHardSkill()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <ul id="list-hard-skills">
            <li *ngFor=" let hardSkill of hardSkills" id={{hardSkill.idHardSkill}}>

                <circle-progress [percent]="hardSkill.porcentaje" [radius]="60" [innerStrokeWidth]="0"
                    [outerStrokeWidth]="5" [outerStrokeColor]="'#3f51b5'" [animation]="true" [animationDuration]="1500"
                    [imageSrc]="hardSkill.urlFoto" [imageHeight]=hardSkill.alto [imageWidth]=hardSkill.ancho
                    [showImage]="true"></circle-progress>
                <div class="tagForLogIn btn-container" *ngIf="isLogged">

                    <button mat-icon-button class="btn-edit" (click)="editHardSkill(hardSkill.idHardSkill)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button class="btn-drop" (click)="dropHardSkill(hardSkill.idHardSkill)">
                        <mat-icon>delete</mat-icon>
                    </button>

                </div>

            </li>
        </ul>

        <div class="container-fluid list-For-Small-Windows">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor=" let hardSkill of hardSkills" id={{hardSkill.idHardSkill}}>
                    <div class="container-circle-progress" style="text-align: center;">
                        <circle-progress [percent]="hardSkill.porcentaje" [radius]="60" [innerStrokeWidth]="0"
                            [outerStrokeWidth]="5" [outerStrokeColor]="'#79f083'" [animation]="true"
                            [animationDuration]="1500" [imageSrc]="hardSkill.urlFoto" [imageHeight]=hardSkill.alto
                            [imageWidth]=hardSkill.ancho [showImage]="true">
                        </circle-progress>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>

    <div id="preloadHard">
        <app-main-preload></app-main-preload>
    </div>


    <br><br>
    <h3 class="titulo-de-seccion">Soft Skills:</h3>

    <div id="after-load2">
        <div class="tagForLogIn btn-container" *ngIf="isLogged">
            <button class="btn-edit" mat-icon-button (click)="addSoftSkill()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <ul id="list-soft-skills">
            <li *ngFor=" let softSkill of softSkills" id={{softSkill.idSoftSkill}}>

                <!-- <circle-progress [percent]="softSkill.porcentaje" [radius]="70" [innerStrokeWidth]="0"
                    [outerStrokeWidth]="5" [outerStrokeColor]="'#79f083'" [animation]="true" [animationDuration]="1500"
                    [title]="softSkill.titulo" [showTitle]="true" [showUnits]="false" [showSubtitle]="false"
                    [titleFontSize]="softSkill.fontSize" [titleColor]="'#FFFFFF'">
                </circle-progress> -->

                <div>
                    <p style=" margin-top: 1em; text-align: center; color:white; font-size: 1.5em;">
                        {{softSkill.titulo}}
                    </p>
                    <mat-progress-bar mode="determinate" value={{softSkill.porcentaje}}></mat-progress-bar>
                </div>


                <div class="tagForLogIn btn-container" *ngIf="isLogged">
                    <button mat-icon-button class="btn-edit" (click)="editSoftSkill(softSkill.idSoftSkill)">
                        <mat-icon color="red">edit</mat-icon>
                    </button>

                    <button mat-icon-button class="btn-drop" (click)="dropSoftSkill(softSkill.idSoftSkill)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </li>
        </ul>

        <div class="container-fluid list-For-Small-Windows">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor=" let softSkill of softSkills" id={{softSkill.idSoftSkill}}>
                    <p style=" margin-top: 1em; text-align: center; color:white; font-size: 1.5em;">
                        {{softSkill.titulo}}
                    </p>
                    <mat-progress-bar mode="determinate" color="#79f083" value={{softSkill.porcentaje}}></mat-progress-bar>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>


    <div id="preloadSoft">
        <app-main-preload></app-main-preload>
    </div>



</div>