#Seccion-Habilidades {
    height: 40%;
    background-color: #2596be;
    /*background-image: linear-gradient( black,#2596be);*/
    border-top: 1px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
}
#list-hard-skills {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    padding: 1em 0 1em 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:2em;
}
#list-soft-skills {
    margin-top: 2em;
    padding: 1em 0 1em 0;

    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
}
#list-soft-skills p{
    color:white;
}

 li {
    transition: transform 1s;
}

li p{
    color:white;
    text-align: center;
}

li:hover {
    transform: scale(1.2);
}

/************************* With LogIn *****************************************/
.btn-container{
    text-align: center;
    display: flex;
    gap:0.5em;
    justify-content: center;
}
.btn-edit{
    border: 1px solid rgb(0, 0, 0);

    background-color: rgb(36, 170, 36);
}
.btn-drop{
    border: 1px solid rgb(0, 0, 0);

    background-color: rgb(194, 72, 72);
}

@media only screen and (max-width: 600px) {

    #list-hard-skills {
        gap:1em;
    }

}

