#Seccion-Habilidades {
    margin-bottom: 15em;
    margin: 15%;
}
.list-For-Small-Windows{
    display: none;
}
#list-hard-skills {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    padding: 1em 0 1em 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:2em;

    box-shadow: 2px 2px 20px #face30;
    border-radius: 10px;
}
#list-soft-skills {
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 1em 0 1em 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:2em;

    box-shadow: 2px 2px 20px #face30;
    border-radius: 10px;
}

.div-soft-skill{
    width:25em;
}

#list-soft-skills p{
    color:white;
}

li {
    transition: transform 1s;
}

li p{
    color:white;
    text-align: center;
}


.notLogged:hover{
    transform: scale(1.2);
}


/************************* With LogIn *****************************************/
.btn-container{
    text-align: center;
    display: flex;
    gap:0.5em;
    justify-content: center;
}
.btn-edit{
    border: 1px solid rgb(0, 0, 0);

    background-color: rgb(36, 170, 36);
}
.btn-drop{
    border: 1px solid rgb(0, 0, 0);

    background-color: rgb(194, 72, 72);
}

@media only screen and (max-width: 755px) {
    .div-soft-skill{
        width:15em;
    }
}

@media only screen and (max-width: 600px) {

    #Seccion-Habilidades {
        margin: 0;
        margin-bottom: 15em;
    }

    #list-hard-skills {
        display: none;
    }
    #list-soft-skills {
        display: none;
    }

    .list-For-Small-Windows{
        display: block;
        margin-top: 5em;
    }

    #list-For-Small-Windows-hard_skill{
        margin-bottom: 10em;
    }


}

