
#pantalla-particulas{
    border-bottom: 1em;
    margin-bottom: 2em;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#particulas{
    position: relative;
    z-index: -1; 
    /* El z-index es para q se vea el welcome con las particulas, sino no se ve. */
}
h1{
    font-size: 8em;
    color: #FFFFFF;
    text-shadow: 5px 0 2px #242627;
}

@media only screen and (max-width: 680px) {
    #particulas{
        display: none;
    }
    h1{
        font-size: 4em;
        color: #FFFFFF;
        text-shadow: 5px 0 2px #242627;
        position: relative;
        z-index: 1; 

    }
}
@media only screen and (max-width: 500px) {
    #particulas{
        display: none;
    }
    h1{
        font-size: 4em;
        color: #FFFFFF;
        text-shadow: 5px 0 2px #242627;
        position: relative;
        z-index: 1; 

    }
}

