#pantalla-particulas{
   /* border: 4em solid #2596be;
    border-top: 0;*/
    height: 30em;

    display: flex;
    justify-content: center;
    align-items: center;
}
#particulas{
    position: relative;
    z-index: -40;
}
h1{
    font-size: 8em;

    color: #FFFFFF;

    text-shadow: 5px 0 2px #2596be;
}

@media only screen and (max-width: 680px) {
    h1{
        font-size: 6em;
        color: #FFFFFF;
        text-shadow: 5px 0 2px #2596be;
    }
}
@media only screen and (max-width: 500px) {
    h1{
        font-size: 3em;
        color: #FFFFFF;
        text-shadow: 5px 0 2px #2596be;
    }
}