 <!--
<div id="foto-perfil-about-me">
    <div id="Foto-Perfil">
        <img src="../../../../assets/imagenes/yo.png">
    </div>
    <div id="about-me">
        <h3 id="nombre">Gaspar Jullier</h3>
        <h3 id="puesto">> Programador Full Stack Jr</h3>
        <p>> Estudiante en 3er año de Ingeniería en Sistemas. Autodidacta en desarrollo web y otras tecnologías</p>
        <p>> Argentina - Santa Fe - Santo Tome</p>
        <p>> 21 años</p>
    </div>

</div>-->

<div id="pantalla-carga">
    <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
    <div id="div-p" style="margin-top: 1em;">
        <p style="text-align: center;">Obteniendo datos desde el servidor...</p>
        <p style="text-align: center;">Este proceso puede tardar unos segundos, se mostrarán los elementos cuando haya terminado</p>
    </div>
</div>

