<div id="Seccion-Edit" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">
    <form  id="form-Seccion-Edit">
        <h3 >Editar Hard Skill:</h3>
        <p>Escribe sobre el/los atributo/s que deseas cambiar - Los atributos que no se editen quedaran como estan</p>
        <div class="div-p-input">
            <p>Porcentaje :</p>
            <input type="number" #porcentaje value={{hardSkill.porcentaje}} placeholder="ingresar Porcentaje">
        </div>
        <div class="div-p-input">
            <p>Alto :</p>
            <input type="text" #alto value={{hardSkill.alto}} placeholder="ingresar alto foto">
        </div>
        <div class="div-p-input">
            <p>Ancho :</p>
            <input type="text" #ancho value={{hardSkill.ancho}} placeholder="ingresar ancho foto">
        </div>
        <div class="div-p-input">
            <p>Url Foto :</p>
            <input type="text" #urlFoto value={{hardSkill.urlFoto}} placeholder="ingresar url foto">
        </div>
        <div class="container-a-btn">
            <div>
                <a mat-dialog-close>Volver</a>
            </div>
        <button type="button" (click)="actualizar_hard_skill(porcentaje.value,alto.value,ancho.value,urlFoto.value)">
            Guardar Skill</button>
        </div>
        </form>
</div>
