<div *ngFor="let persona of personas">

    <div id="Seccion-Edit">

        <form id="form-Seccion-Edit">
            <h3>Editar Persona:</h3>
            <p>Escribe sobre el/los atributo/s que deseas cambiar - Los atributos que no se editen quedaran como estan
            </p>
            <input type="text" #nombre value={{persona.nombre}} placeholder="ingresar nombre">
            <input type="text" #apellido value={{persona.apellido}} placeholder="ingresar apellido">
            <input type="text" #nombrePuesto value={{persona.nombrePuesto}} placeholder="ingresar nombre puesto">
            <input type="text" #descripcion value={{persona.descripcion}} placeholder="ingresar descripcion">
            <input type="text" #domicilio value={{persona.domicilio}} placeholder="ingresar domicilio">
            <input type="number" #edad value={{persona.edad}} placeholder="ingresar edad">
            <input type="text" #urlFoto value={{persona.urlFoto}} placeholder="ingresar url Foto">
            <div class="container-a-btn">
                <div>
                    <a mat-dialog-close>Volver</a>
                </div>
                <button type="button"
                    (click)="actualizarPersona(nombre.value,apellido.value,edad.value,domicilio.value,nombrePuesto.value,urlFoto.value,descripcion.value)">
                    Guardar Cambios</button>
            </div>

        </form>
    </div>

    <form>

    </form>
    <div>