

  #Seccion-Edit {
    color: #face30;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    height: 50%;
  }

  h3{
    text-align: center;
    color: #face30;
    font-size: 1.8em;
  }

  #form-Seccion-Edit {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 0.5em;
    gap: 2em;
    padding: 2em;
  }

  #form-Seccion-Edit input {
    background-image: linear-gradient(#3a3b3b,#0c0c0c) !important;
    padding: 0.4em;
    border-radius: 0.5em;
    color: white;
    border: none;
    border: 1px solid #face30;
  }
  #form-Seccion-Edit input::placeholder {
    color:rgb(151, 151, 151);
  }
  #form-Seccion-Edit input:focus{
    outline: none;
    box-shadow: 2px 0px 20px #face30;
  }

  #form-Seccion-Edit button {
    border: 1px solid #face30;
    background-image: linear-gradient(#3a3b3b,#0c0c0c);
    padding: 0.4em;
    border-radius: 0.5em;
    margin:0 auto;
    color : #face30;
  }
  #form-Seccion-Edit button:hover{
    box-shadow: 2px 0px 20px #face30;
  }
  
  @media only screen and (max-width: 600px) {
    #form-Seccion-Edit {
        width: 100%;
    }
  }