<div id="foto-perfil-about-me">
    <div id="Foto-Perfil">
        <img src="../../../../assets/imagenes/yo.png" alt="Gaspar Jullier">
    </div>
    <div id="about-me">
        <h3 id="nombre">PortFolio Web</h3>
        <h3 id="puesto">> Programador full stack jr</h3>
        <h3 id="titulo">> Gaspar Jullier</h3>
        <p id="p-1">> Hola, soy Gaspar Jullier estudiante universitario de sistemas.</p>
        <p id="p-2">> Vivo en Argentina provincia de Santa Fe.</p>
        <p id="p-3">> Me gusta la programación y el diseño de aplicaciones frontend y backend.</p>
        <!-- <video src="../../../../../assets/presentacion.mp4" autoplay></video> -->
    </div>

</div>
<div style=" margin-bottom: 15%;">
    <p style="text-align:center;">Se estan cargando los demas componenetes ... </p>
    <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</div>
