<div id="Seccion-Edit" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">
    <form id="form-Seccion-Edit" ngNativeValidate>
        <div>
            <h3>Editar Experiencia:</h3>
            <p>Escribe sobre el/los atributo/s que deseas cambiar - Los atributos que no se editen quedaran como estan
            </p>
        </div>
        <div class="div-p-input">
            <p>Titulo :</p>
            <input type="text" #titulo value={{default_Experiencia.titulo}} placeholder="ingresar Titulo">
        </div>
        <div class="div-p-input">
            <p>Descripcion :</p>
            <input type="text" #descripcion value={{default_Experiencia.descripcion}} placeholder="ingresar descripcion">
        </div>
        <div class="div-p-input">
            <p>Año de Ingreso :</p>
            <select #anioStart id="years"  class="input-select-items">
                <option *ngFor="let year of yearsList" value={{year}}>{{year}}</option>
            </select>
        </div>
        <div class="div-p-input">
            <p>Año de Ingreso :</p>
            <select #anioEnd id="years"  class="input-select-items">
                <option *ngFor="let year of yearsList" value={{year}}>{{year}}</option>
            </select>
        </div>
        <div class="div-p-input">
            <p>Tipo Experiencia :</p>
            <input type="text" #tipoExperiencia value={{default_Experiencia.tipoExperiencia}}
                placeholder="ingresar Tipo de Experiencia">
        </div>
        <div class="div-p-input">
            <p>Tegnologias Utilizadas :</p>
            <input type="text" #tegnologiasUtilizadas value={{default_Experiencia.tegnologiasUtilizadas}}
                placeholder="ingresar Tegnologias Utilizadas">
        </div>
        <div class="div-p-input">
            <p>Link Proyectos:</p>
            <input type="text" #linkProyectos value={{default_Experiencia.linkProyectos}} placeholder="ingresar url foto">
        </div>
        <div class="container-a-btn">
            <div>
                <a mat-dialog-close>Volver</a>
            </div>
        <button type="button"
            (click)="saveExperiencia(titulo.value,descripcion.value,anioStart.value,anioEnd.value,tipoExperiencia.value,tegnologiasUtilizadas.value,linkProyectos.value)">
            Guardar Experiencia
        </button>
        </div>
    </form>
</div>