<div id="Seccion-Edit" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">
    <a mat-dialog-close>Volver</a>
    <form id="form-Seccion-Edit">
        <div>
            <h3>Editar Experiencia:</h3>
            <p>Escribe sobre el/los atributo/s que deseas cambiar - Los atributos que no se editen quedaran como estan
            </p>
        </div>
        <div class="div-p-input">
            <p>Titulo :</p>
            <input type="text" #titulo value={{default_Experiencia.titulo}} placeholder="ingresar Titulo">
        </div>
        <div class="div-p-input">
            <p>Descripcion :</p>
            <input type="text" #descripcion value={{default_Experiencia.descripcion}} placeholder="ingresar descripcion">
        </div>
        <div class="div-p-input">
            <p>Año de Ingreso :</p>
            <input type="text" #anioStar value={{default_Experiencia.anioStart}} placeholder="ingresar año de ingreso">
        </div>
        <div class="div-p-input">
            <p>Año de Egresos :</p>
            <input type="text" #anioEnd value={{default_Experiencia.anioEnd}} placeholder="ingresar año de egreso">
        </div>
        <div class="div-p-input">
            <p>Tipo Experiencia :</p>
            <input type="text" #tipoExperiencia value={{default_Experiencia.tipoExperiencia}}
                placeholder="ingresar Tipo de Experiencia">
        </div>
        <div class="div-p-input">
            <p>Tegnologias Utilizadas :</p>
            <input type="text" #tegnologiasUtilizadas value={{default_Experiencia.tegnologiasUtilizadas}}
                placeholder="ingresar Tegnologias Utilizadas">
        </div>
        <div class="div-p-input">
            <p>Link Proyectos:</p>
            <input type="text" #linkProyectos value={{default_Experiencia.linkProyectos}} placeholder="ingresar url foto">
        </div>
        <button type="button"
            (click)="saveExperiencia(titulo.value,descripcion.value,anioStar.value,anioEnd.value,tipoExperiencia.value,tegnologiasUtilizadas.value,linkProyectos.value)">
            Guardar Experiencia</button>
    </form>
</div>