<!-- <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
(particlesLoaded)="particlesLoaded($event)"></ng-particles> -->
<div id="app-header" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <app-header></app-header>
</div>

<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <app-banner></app-banner>
</div>

<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
    <app-about-me></app-about-me>
</div>

<div data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-skills></app-skills>
</div>

<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-education></app-education>
</div>

<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-experiencia></app-experiencia>
</div>

<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-projects></app-projects>
</div>

<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-contact></app-contact>
</div>

<app-footer></app-footer>