<div id="Seccion-Experiencia">
  <h3 class="titulo-de-seccion-Blanco"> Experience:</h3>

  <div class="tagForLogIn" class="btn-container">
    <button class="btn-edit">Add</button>
  </div>
  <!--lista usando bootstrap-->
  <div class="list-group">
    <div class="list-group-item  flex-column align-items-start">
      <hr>
      <h5>Sistema Interno Fabrica de Hielo y Agua</h5>
      <p>Gestion de stock, clientes y ventas para una Fabrica
        de hielo y agua "San Cayetano" de la ciudad Santo Tome, Santa Fe
      </p>
      <p>Tecnologias utilizadas: C++ ( QT ), SQL (SQLITE)</p>

      <small>2022-Actualidad</small>

      <p><a href="#">Ver Proyecto</a></p>

      <div class="tagForLogIn" class="btn-container">
        <button class="btn-edit">Edit</button>
        <button class="btn-edit">Drop</button>
      </div>
      <hr>
    </div>

    <div class="list-group-item  flex-column align-items-start">

      <h5>Pagina Web Fabrica de Hielo y Agua</h5>
      <p>Web personalizada para visualizacion de precio de productos con
        conexion a Base de Datos</p>
      <p>Tecnologias utilizadas: HTML, CSS, JS, SQL (MySQL)</p>

      <small>2022-Actualidad</small>

      <p><a href="#">Ver Proyecto</a></p>

      <div class="tagForLogIn" class="btn-container">
        <button class="btn-edit">Edit</button>
        <button class="btn-edit">Drop</button>
      </div>

    </div>
  </div>
</div>