/* You can add global styles to this file, and also import other style files */

/****************Declaraciones de KeyFrames que se utilizan en los componentes**************************/

@keyframes color-negro-blanco{
  from {
    color: black;
  }

  to {
   
      color: white;
  }
}

@keyframes color-blanco-negro{
  from {
      color: white;
  }

  to {
      color: black;
  }
}

@keyframes movimiento {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(30px);
  }

  100% {
      transform: translateY(0);
  }
}

/**** PARA LOS DIALOGS ****/
mat-dialog-container {
  background-color:black !important;
  border-radius: 2em !important;
  margin:0 !important;
  padding: 0 !important;
  box-shadow: -5px 5px 20px #2596be !important;
}
/**** FIN PARA LOS DIALOGS ****/

body {
    font-family: sans-serif;
    background-color:black !important; /*Nose porq este no funciona pueso aqui , pero puesto en la etiqueta si (? */
}
  /*Scroll bar*/
  /* width */
  ::-webkit-scrollbar {
    width: 0.5em;
    height: 90px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/****************Estilos Generales para todos los componentes***************************/

.titulo-de-seccion-Blanco{
  text-align: center;
  font-size: 2em;
  color: rgb(255, 255, 255);
  animation-name: color-negro-blanco;
  animation-duration: 6s;
}

.titulo-de-seccion-Negro{
  text-align: center;
  font-size: 2em;
  color: black;
  animation-name: color-blanco-negro;
  animation-duration: 6s;
}
html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; }
