/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/* lo de arriba es porque importe algunas fuentes de letra*/

/****************Declaraciones de KeyFrames que se utilizan en los componentes**************************/

@keyframes color-negro-blanco{
  from {
    color: black;
  }

  to {
   
      color: white;
  }
}

@keyframes color-blanco-negro{
  from {
      color: white;
  }

  to {
      color: black;
  }
}

@keyframes movimiento {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(30px);
  }

  100% {
      transform: translateY(0);
  }
}


body {
    font-family: 'Roboto', sans-serif;
    background-color:black; /*Nose porq este no funciona (? */
}

/****************Estilos Generales para todos los componentes***************************/

.titulo-de-seccion-Blanco{
  text-align: center;
  font-size: 2em;
  color: rgb(255, 255, 255);
  animation-name: color-negro-blanco;
  animation-duration: 6s;
}

.titulo-de-seccion-Negro{
  text-align: center;
  font-size: 2em;
  color: black;
  animation-name: color-blanco-negro;
  animation-duration: 6s;
}