/* You can add global styles to this file, and also import other style files */

/****************Declaraciones de KeyFrames que se utilizan en los componentes**************************/

/*@keyframes color-negro-blanco{
  from {
    color: black;
  }

  to {
   
      color: white;
  }
}
@keyframes color-blanco-negro{
  from {
      color: #2596be;
  }

  to {
      color: black;
  }
}
@keyframes movimiento {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(30px);
  }

  100% {
      transform: translateY(0);
  }
}
*/
/****************Estilos Generales para todos los componentes***************************/
.titulo-de-seccion-Blanco{
  text-align: center;
  font-size: 3.5em;
  /* animation-name: color-blanco-negro;
  animation-duration: 5s; */
  color:rgb(255, 255, 255);

  text-shadow: 5px 0 2px #242627;
}

.titulo-de-seccion-Negro{
  text-align: center;
  font-size: 4em;
  /* animation-name: color-blanco-negro;
  animation-duration: 5s; */
  color:rgb(255, 255, 255);
  text-shadow: 5px 0 2px #242627;
}


/**** PARA LOS BOTONES DE LOS SWALS ****/
.swal2-styled{
  background-color:#2596be !important ;
  border: none !important;
}

/**** PARA LOS DIALOGS ****/
mat-dialog-container {
  background-color:black !important;
  border-radius: 1em !important;
  border: 2px solid white;
  margin:0 !important;
  padding: 0 !important;
}
/**** FIN PARA LOS DIALOGS ****/

body {
    background-color:#2596be !important;
    font-family: cursive ,"Comic Sans MS", "Comic Sans", sans-serif !important;
}
h5{
  color:rgb(255, 255, 255);
  font-size: 2em;
  text-shadow: 2px 0 1px #242627;
}



@media only screen and (max-width: 600px) {
  h3{
    font-size:2em !important;
  }
}

  /*Scroll bar*/
  /* width */
  ::-webkit-scrollbar {
    width: 0.3em;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


 